.DS_Store
.atom/
.idea/
.vscode/
.packages
.pub/
.dart_tool/
build/
pubspec.lock
android/.gradle/
android/build/
android/local.properties
android/.navigation/
android/*.log
android/bin/
android/gen/
.gradle/
build.gradle
gradle/
gradlew
gradlew.bat
local.properties
redux.iml
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
pubspec.lock
android/local.properties
