.DS_Store
.atom/
.idea/
.vscode/
.packages
.pub/
.dart_tool/
build/
pubspec.lock
android/
ios/
.gradle/
build.gradle
gradle/
gradlew
gradlew.bat
local.properties
redux.iml
pubspec.lock
android/local.properties

# docs
node_modules/
